{% extends 'mainapp/base.html'%}
{% load static %}

    {% block 'content' %}
        <div class="jumbotron d-flex align-items-center" style="background-image: url(static/img/background_photo-2.jpeg)">
          <div class="container text-center">
            <h1 class="display-2 mb-4 shadow-title">Психолог Наталия <br> из Майами</h1>
            <p class="main">
              Работаю онлайн со всем миром. Клиентки приходят с самыми различными запросами, <br>
				 с самыми разными жизненными обстоятельствами.

            </p>
          </div>
        </div>

        <section id="gtco-who-we-are" class="bg-white">
            <div class="container">
                <div class="section-content">
                    <div class="title-wrap">
                        <h2 class="section-title">Обо мне<br>to build<b> websites online</b></h2>
                        <p class="section-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. <br> ute irure dolor in reprehenderit in voluptate\</p>
                    </div>

                    <div class="row text-center">
                        <div class="col-md-4 col-sm-6 ">
                            <img class="rounded-circle" src="{% static 'icons/animat-checkmark.gif' %}" alt="img" width="140" height="140">
                            <h5 class="mb-4">Dreams</h5>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-link" href="#" role="button">View details</a></p>
                        </div>

                        <div class="col-md-4 col-sm-6 ">
                            <img class="rounded-circle" src="{% static 'icons/animat-customize.gif' %}" alt="Generic placeholder image" width="140" height="140">
                            <h5 class="mb-4">Predictions</h5>
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis.</p>
                            <p><a class="btn btn-link" href="#" role="button">View details</a></p>
                        </div>

                        <div class="col-md-4 col-sm-6 ">
                            <img class="rounded-circle" src="{% static 'icons/animat-responsive.gif' %}" alt="Generic placeholder image" width="140" height="140">
                            <h5 class="mb-4">Health</h5>
                            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. </p>
                            <p><a class="btn btn-link" href="#" role="button">View details</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="gtco-features" class="bg-white">
            <div class="container">
                <div class="section-content">
                    <!-- Section Title -->
                    <div class="title-wrap">
                        <h2 class="section-title">
                            Возможный раздел <span></span>для <span>чего-то</span>
                        </h2>
                        <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <br> pharetra augue. Donec id elit non mi.</p>
                    </div>
                    <!-- End of Section Title -->
                    <div class="row">
                        <!-- Features Holder-->
                        <div class="col-md-12 features-holder">
                            <div class="row">
                                <!-- Features Item -->
                                <div class="col-md-4 col-sm-6 feature-item item mb-3 mb-3 text-center">
                                    <div class="my-4">
                                        <i class="lnr lnr-cog fs-40"></i>
                                    </div>
                                    <h4>Easy to Customize</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- End of Feature Item -->
                                <!-- Features Item -->
                                <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                                    <div class="my-4">
                                        <i class="lnr lnr-frame-contract fs-40"></i>
                                    </div>
                                    <h4>Pixel Perfect</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- End of Feature Item -->
                                <!-- Features Item -->
                                <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                                    <div class="my-4">
                                        <i class="lnr lnr-bubble fs-40"></i>
                                    </div>
                                    <h4>Full Support</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- End of Feature Item -->
                                <!-- Features Item -->
                                <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                                    <div class="my-4">
                                        <i class="lnr lnr-magic-wand fs-40"></i>
                                    </div>
                                    <h4>Clean Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- End of Feature Item -->
                                <!-- Features Item -->
                                <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                                    <div class="my-4">
                                        <i class="lnr lnr-clock fs-40"></i>
                                    </div>
                                    <h4>Ontime Project</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- End of Feature Item -->
                                <!-- Features Item -->
                                <div class="col-md-4 col-sm-6 feature-item item mb-3 text-center">
                                    <div class="my-4">
                                        <i class="lnr lnr-thumbs-up fs-40"></i>
                                    </div>
                                    <h4>Built with SASS</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                                </div>
                                <!-- End of Feature Item -->
                            </div>
                        </div>
                        <!-- End of Features Holder-->
                    </div>
                </div>
            </div>
        </section>
<!-- End of Features Section-->
        <section id="gtco-section-featurettes" class="featurettes bg-white">

            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <!-- Section Title -->
                            <div class="title-wrap">
                                <h2 class="section-title">
                                    <b>Чем</b> я<br> могу помочь
                                </h2>
<!--                                <p class="section-sub-title">-->
<!--                                     Консультирую-->
<!--			<br>девушек/женщин по вопросам:-->
<!--                                </p>-->
                            </div>
                            <!-- End of Section Title -->

                            <div class="featurettes-wrap text-left mb-4">

                                <div class="row featurettes-item">

                                    <div class="col-md-4 offset-md-2 col-sm-6">
                                        <div class="my-5">
                                            <span class="lnr lnr-camera fs-40 color-primary"></span>
                                        </div>
                                        <h4 class="mb-4">Консультирую <br>девушек/женщин по вопросам:</h4>
<!--                                        <p></p>-->
                                        <ul>
                                            <li>поиска себя и своего предназначения</li>
                                            <li>обретения своей жизни мечты</li>
                                            <li>понимания своих истинных желаний</li>
                                            <li>умение работать в удовольствие</li>
                                            <li>поднятия самооценки</li>
                                            и многое-многое другое.
                                        </ul>
                                    </div>

                                    <div class="col-md-4 offset-md-right-2 col-sm-6">
                                        <img class="my-5 help" src="{% static 'img/natalia-1.jpg' %}" alt="">
                                    </div><!--/ .col-md-4.col-md-offset-right-2.col-sm-6 -->

                                </div><!--/ .featurettes-item -->

                            </div><!--/ .featurettes-wrap -->

                            <div class="featurettes-wrap text-left">

                                <div class="row featurettes-item">

                                    <div class="col-md-4 offset-md-2 col-sm-6">
                                        <img class="my-4" src="{% static 'img/natalia-2.jpg' %}" alt="">
                                    </div>

                                    <div class="col-md-4 offset-md-right-2 col-sm-6 mb-5">
                                        <div class="my-4">
                                            <span class="lnr lnr-bubble fs-40 color-primary"></span>
                                        </div>
                                        <h4 class="mb-4">Send private messages to your friend or make a chat group</h4>
                                        <p>Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet.</p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </section>
        <section id="gtco-blog" class="bg-grey">
            <div class="container">
                <div class="section-content">
                    <div class="title-wrap mb-5">
                        <h2 class="section-title">Вариант <b>для полезных материалов</b></h2>
                        <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
                    </div>
                    <div class="row">

                        <div class="col-md-12 blog-holder">
                            <div class="row">

                                <div class="col-md-4 blog-item-wrapper">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a href="single.html"><img src="{% static 'img/blog-1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog-text">
                                            <div class="blog-tag">
                                                <a href="#"><h6><small>CODE</small></h6></a>
                                            </div>
                                            <div class="blog-title">
                                                <a href="single.html"><h4>Amazing Blog Title</h4></a>
                                            </div>
                                            <div class="blog-meta">
                                                <p class="blog-date">30 May 2016</p> /
                                                <p class="blog-comment"><a href="">23 Comments</a></p>
                                            </div>
                                            <div class="blog-desc">
                                                <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                            <div class="blog-author">
                                                <p>by John Doe</p>
                                            </div>
                                            <div class="blog-share-wrapper">
                                                <a class="blog-share" href="google.com">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="blog-share" href="google.com">
                                                    <i class="fab fa-twitter-square"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 blog-item-wrapper">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a href="#"><img src="{% static 'img/blog-2.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog-text">
                                            <div class="blog-tag">
                                                <a href="#"><h6><small>SPORTS</small></h6></a>
                                            </div>
                                            <div class="blog-title">
                                                <a href="#"><h4>Amazing Blog Title</h4></a>
                                            </div>
                                            <div class="blog-meta">
                                                <p class="blog-date">30 May 2016</p> /
                                                <p class="blog-comment"><a href="">23 Comments</a></p>
                                            </div>
                                            <div class="blog-desc">
                                                <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                            <div class="blog-author">
                                                <p>by John Doe</p>
                                            </div>
                                            <div class="blog-share-wrapper">
                                                <a class="blog-share" href="google.com">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="blog-share" href="google.com">
                                                    <i class="fab fa-twitter-square"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 blog-item-wrapper">
                                    <div class="blog-item">
                                        <div class="blog-img">
                                            <a href="#"><img src="{% static 'img/blog-3.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="blog-text">
                                            <div class="blog-tag">
                                                <a href="#"><h6><small>ECONOMY</small></h6></a>
                                            </div>
                                            <div class="blog-title">
                                                <a href="#"><h4>Amazing Blog Title</h4></a>
                                            </div>
                                            <div class="blog-meta">
                                                <p class="blog-date">30 May 2016</p> /
                                                <p class="blog-comment"><a href="">23 Comments</a></p>
                                            </div>
                                            <div class="blog-desc">
                                                <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do eiu smod tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </div>
                                            <div class="blog-author">
                                                <p>by John Doe</p>
                                            </div>
                                            <div class="blog-share-wrapper">
                                                <a class="blog-share" href="google.com">
                                                    <i class="fab fa-facebook-square"></i>
                                                </a>
                                                <a class="blog-share" href="google.com">
                                                    <i class="fab fa-twitter-square"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="gtco-portfolio" class="bg-white">
            <div class="container">
                <div class="section-content">

                    <div class="title-wrap">
                        <h2 class="section-title">Полезные <b>материалы</b> </h2>
                        <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <br> pharetra augue. Donec id elit non mi.</p>
                    </div>

                    <div class="row">

                        <div class="col-md-12 portfolio-holder">

                            <div class="filter-button-group btn-filter d-flex justify-content-center">
                                <a tabindex="0" class="is-checked" data-filter="*">Show All</a>
                                <a tabindex="0" data-filter=".minimalism">Minimalism</a>
                                <a tabindex="0" data-filter=".vintage">Vintage</a>
                                <a tabindex="0" data-filter=".creative">Creative</a>
                            </div>

                            <div class="grid-portfolio">
                                <div class="grid-sizer"></div>
                                <div class="gutter-sizer"></div>

                                <div class="grid-item minimalism">
                                    <div class="grid-item-wrapper">
                                        <img src="{% static 'img/photo-1.jpg' %}" alt="portfolio-img" class="portfolio-item">
                                        <div class="grid-info">
                                            <div class="grid-link d-flex justify-content-center">
                                                <a class="img-pop" data-rel="lightcase" href="{% static 'img/photo-1.jpg' %}" title="Photo-1">
                                                    <span class="lnr lnr-move"></span>
                                                </a>
                                                <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                    <span class="lnr lnr-link"></span>
                                                </a>
                                            </div>
                                            <div class="grid-title">
                                                <h4>Camera</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="grid-item vintage">
                                    <div class="grid-item-wrapper">
                                        <img src="{% static 'img/photo-6.jpg' %}" alt="portfolio-img" class="portfolio-item">
                                        <div class="grid-info">
                                            <div class="grid-link d-flex justify-content-center">
                                                <a class="img-pop" data-rel="lightcase" href="{% static 'img/photo-6.jpg' %}" title="Ship">
                                                    <span class="lnr lnr-move"></span>
                                                </a>
                                                <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                    <span class="lnr lnr-link"></span>
                                                </a>
                                            </div>
                                            <div class="grid-title">
                                                <h4>Flower</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="grid-item creative grid-item-height">
                                    <div class="grid-item-wrapper">
                                        <img src="{% static 'img/photo-2.jpg' %}" alt="portfolio-img" class="portfolio-item">
                                        <div class="grid-info">
                                            <div class="grid-link d-flex justify-content-center">
                                                <a class="img-pop" data-rel="lightcase" href="{% static 'img/photo-2.jpg' %}" title="Tracy Portrait">
                                                    <span class="lnr lnr-move"></span>
                                                </a>
                                                <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                    <span class="lnr lnr-link"></span>
                                                </a>
                                            </div>
                                            <div class="grid-title">
                                                <h4>Breakfast</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="grid-item creative">
                                    <div class="grid-item-wrapper">
                                        <img src="{% static 'img/photo-7.jpg' %}" alt="portfolio-img" class="portfolio-item">
                                        <div class="grid-info">
                                            <div class="grid-link d-flex justify-content-center">
                                                <a class="img-pop" data-rel="lightcase" href="{% static 'img/photo-7.jpg' %}" title="Guitar">
                                                    <span class="lnr lnr-move"></span>
                                                </a>
                                                <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                    <span class="lnr lnr-link"></span>
                                                </a>
                                            </div>
                                            <div class="grid-title">
                                                <h4>Chair</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="grid-item vintage">
                                    <div class="grid-item-wrapper">
                                        <img src="{% static 'img/photo-4.jpg' %}" alt="portfolio-img" class="portfolio-item">
                                        <div class="grid-info">
                                            <div class="grid-link d-flex justify-content-center">
                                                <a class="img-pop" data-rel="lightcase" href="{% static 'img/photo-4.jpg' %}" title="Bookself">
                                                    <span class="lnr lnr-move"></span>
                                                </a>
                                                <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                    <span class="lnr lnr-link"></span>
                                                </a>
                                            </div>
                                            <div class="grid-title">
                                                <h4>Hidden Book</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="grid-item creative">
                                    <div class="grid-item-wrapper">
                                        <img src="{% static 'img/photo-9.jpg' %}" alt="portfolio-img" class="portfolio-item">
                                        <div class="grid-info">
                                            <div class="grid-link d-flex justify-content-center">
                                                <a class="img-pop" data-rel="lightcase" href="{% static 'img/photo-9.jpg' %}" title="Guitar">
                                                    <span class="lnr lnr-move"></span>
                                                </a>
                                                <a class="ext-link" href="https://unsplash.com/" target="_blank">
                                                    <span class="lnr lnr-link"></span>
                                                </a>
                                            </div>
                                            <div class="grid-title">
                                                <h4>Red</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

<section id="gtco-pricin-2" class="bg-grey">
            <div class="container">
                <div class="section-content">
                    <div class="title-wrap">
                        <h2 class="section-title">Стоимость за онлайн консультацию</h2>
<!--                        <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. <br> pharetra augue. Donec id elit non mi.</p>-->
                    </div>

                    <div class="mb-3 text-center one-class">

                        <div class="price-box card mb-4 box-shadow">
                            <div class="card-header p-4">
                                <h6 class="mb-0 text-red font-weight-bold one-consult"><span>1</span> консультация</h6>
<!--                                <h2 class="display-4 p-2 mb-0 font-weight-bold">500<small class="align-top">GB</small></h2>-->
<!--                                <p class="mb-0">For Business</p>-->
                            </div>
                            <div class="card-body p-4">
                                <ul class="price-box-list list-unstyled mt-3 mb-4">
                                    <li>Если вы хотет понять,</li>
                                    <li> что такое работа с психологом, </li>
                                    <li>то покупка 1 консультации </li>
                                    <li>- это идеальное решение для Вас</li>
<!--                                    <li>Premium support</li>-->
                                </ul>
                                <h2 class="card-title pricing-card-title mb-0 font-weight-bold one-consult">$100</h2>
                                <a href="#" class="btn btn-block btn-secondary btn-red mt-4">Записаться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="gtco-pricing" class="bg-grey">
            <div class="container">
                <div class="section-content pt-0">

                    <div class="title-wrap">
                        <h2 class="section-title">Коуч-пакеты:</h2>
                        <p class="section-sub-title">Если Вам интересна длительная работа со специалистом, <br> то специально для Вас есть возможность купить консультации у меня пакетами <br> по более выгодной цене.</p>
                    </div>

                    <div class="card-deck mb-3 text-center">
                        <div class="price-box card mb-4 box-shadow">
                            <div class="card-header p-4">
                                <h6 class="mb-0 text-orange font-weight-bold three-consult"><span>3</span> консультации</h6>
<!--                                <h2 class="display-4 p-2 mb-0 font-weight-bold">3<small class="align-top">консультации</small></h2>-->
<!--                                <p class="mb-0">Perfect for the beginning</p>-->
                            </div>
                            <div class="card-body p-4">
                                <ul class="price-box-list list-unstyled mt-3 mb-4">
                                    <li>Идеяльно для начала</li>
<!--                                    <li>Full Platform Applications</li>-->
<!--                                    <li>Email support</li>-->
                                </ul>
                                <h2 class="card-title pricing-card-title mb-0 font-weight-bold three-consult">$285</h2>
<!--                                <a href="#" class="btn btn-block btn-secondary btn-orange mt-4">Купить</a>-->
                            </div>
                        </div>
                        <div class="price-box card mb-4 box-shadow">
                            <div class="card-header p-4">
                                <h6 class="mb-0 text-cyan font-weight-bold five-consult"><span>5</span> консультаций</h6>
<!--                                <h2 class="display-4 p-2 mb-0 font-weight-bold">5<small class="align-top">консультаций</small></h2>-->
<!--                                <p class="mb-0">For Professionals</p>-->
                            </div>
                            <div class="card-body p-4">
                                <ul class="price-box-list list-unstyled mt-3 mb-4">
                                    <li>Более детальная проработка</li>
<!--                                    <li>Unlimited Traffic</li>-->
<!--                                    <li>Full Platform Applications</li>-->
<!--                                    <li>Premium support</li>-->
                                </ul>
                                <h2 class="card-title pricing-card-title mb-0 font-weight-bold five-consult">$450</h2>
<!--                                <a href="#" class="btn btn-block btn-secondary btn-cyan mt-4">Купить</a>-->
                            </div>
                        </div>
                        <div class="price-box card mb-4 box-shadow">
                            <div class="card-header p-4">
                                <h6 class="mb-0 text-cyan font-weight-bold seven-consult"><span>7</span> консультаций</h6>
<!--                                <h2 class="display-4 p-2 mb-0 font-weight-bold">7<small class="align-top">консультаций</small></h2>-->
<!--                                <p class="mb-0">For Professionals</p>-->
                            </div>
                            <div class="card-body p-4">
                                <ul class="price-box-list list-unstyled mt-3 mb-4">
                                    <li>Решение вопросов, касающихся сложных жизненных ситуаций</li>
<!--                                    <li>Unlimited Traffic</li>-->
<!--                                    <li>Full Platform Applications</li>-->
<!--                                    <li>Premium support</li>-->
                                </ul>
                                <h2 class="card-title pricing-card-title mb-0 font-weight-bold seven-consult">$595</h2>
<!--                                <a href="#" class="btn btn-block btn-secondary btn-cyan brown mt-4">Купить</a>-->
                            </div>
                        </div>
                        <div class="price-box card mb-4 box-shadow">
                            <div class="card-header p-4">
                                <h6 class="mb-0 text-red font-weight-bold ten-consult"><span>10</span> консультаций</h6>
<!--                                <h2 class="display-4 p-2 mb-0 font-weight-bold">10<small class="align-top">консультаций</small></h2>-->
<!--                                <p class="mb-0">For Business</p>-->
                            </div>
                            <div class="card-body p-4">
                                <ul class="price-box-list list-unstyled mt-3 mb-4">
                                    <li>Когда необходима длительная психологическая поддержка</li>
<!--                                    <li>Unlimited Traffic</li>-->
<!--                                    <li>Full Platform Applications</li>-->
<!--                                    <li>SSL Certificate</li>-->
<!--                                    <li>Premium support</li>-->
                                </ul>
                                <h2 class="card-title pricing-card-title mb-0 font-weight-bold ten-consult">$810</h2>
<!--                                <a href="#" class="btn btn-block btn-secondary btn-red mt-4">Купить</a>-->
                            </div>
                        </div>


                    </div>
                    <a href="#" class="btn btn-block btn-secondary btn-red mt-4" style="max-width: 40%;
    margin-left: 30%;">Оставить заявку</a>
                </div>
            </div>

        </section>

{% endblock %}
